
h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 14px;
}

#metro_map{
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}

#jumbotron_custom{
    height: 120px;
    padding-top: 30px ;
}


